{% extends "otree_redwood/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Communication
{% endblock %}

{% block content %}

    {% if realtime %}

        <p>
        Before the game starts, you can chat with your counterpart and discuss the time environment you are going to play.
        Please follow two rules: <br>
        1) Discrimination and malicious messages are NOT allowed. <br>
        2) Do NOT directly or indirectly disclose your identity. <br>
        </p>

        {% chat nickname="Participant" channel=channel %}

    {% elif not realtime %}

        <p>
        Before the game starts, you can send a message to your counterpart discussing the time environment you would prefer.
        Please follow two rules: <br>
        1) Discrimination and malicious messages are NOT allowed. <br>
        2) Do NOT directly or indirectly disclose your identity. <br>
        </p>

        {% formfields %}

        {% next_button %}

    {% endif %}
{% endblock %}
