{% extends "otree_redwood/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    The time environment you are going to play
{% endblock %}

{% block content %}

    <!-- {{ if subsession.config['num_subperiods'] == 0 }}
        <p>You will play the 2-minute game under the continuous time environment.</p>
    {{ else }}
        <p>You will play the 2-minute game under the discrete time environment with {{ num_subperiods }} periods.</p>
    {{ endif }} -->
    <p> {{ num_subperiods }} </p>
    <p> If you are ready, press next. </p>

    {% next_button %}
{% endblock %}
