{% extends "otree_redwood/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    The time environment you are going to play
{% endblock %}

{% block content %}

{% if final_num_subperiods == 0 %}
    <p>You will play the game under the continuous time environment.</p>
{% else %}
    <p>You will play the game under the discrete time environment with {{ final_num_subperiods }} periods.</p>
{% endif %}

{% if final_num_subperiods > 0 %}
    <p>You have selected {{ self_num_subperiods }} and your counterpart has selected {{ other_num_subperiods }}.</p>
{% endif %}

    <p> If you are ready, press next. </p>

    {% next_button %}
{% endblock %}
