{% extends "otree_redwood/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    The time environment you are going to play
{% endblock %}

{% block content %}

<p>You have selected {{ self_num_subperiods }} and your counterpart has selected {{ other_num_subperiods }}.
</p>

{% if final_num_subperiods == 0 %}
    <p>Based on the system selection, you will play the game under the continuous time environment.</p>
{% else %}
    <p>Based on the system selection, you will play the game under the discrete time environment with {{ final_num_subperiods }} periods.</p>
{% endif %}

    <p> If you are ready, press next to enter the game. </p>

    {% next_button %}
{% endblock %}
